{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <ul>
        {% for category in categories %}
        <li><a href="{{ path('category_details',{id: category.id})}}">{{category.title}}</li></a>
        {% endfor %}
    </ul>
{% endblock %}
