{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <ul>
        {% for category in categories %}
        <li>{{category.title}}</li>
        {% endfor %}
    </ul>
{% endblock %}
